@import 'Utils/variables';
@import 'Base/reset';
@import 'Utils/mixin';
@import 'Layout/layout';


body {
    max-width: 762px;
    margin: auto;
    flex-direction: column;
    font-family: $regular-font, sans-serif;
    @include flex-center
}



h2 {
    font-weight: $bold-weight;
    font-size: $large-font;
}

nav {
    width: $full-width;
}

.navigation {
    padding: 25px;
    width: 100%;
    background-color: $grey;
    @include flex-center;
    flex-direction: column;
    text-align: center;

    & p {
        font-weight: $small-weight;
    }
}

.button {
    @include rounded-with-shadow;
    background: linear-gradient(-10deg, $primary-color, $secondary-color);
    color: $inverted-police;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 20px;
    margin: 30px;
    position: relative;
    z-index: 1;

    &:hover {
        & .button__background {
            opacity: 1;
        }
    }

    & a {
        color: $inverted-police ;
    }

    &__background {
        border-radius: 25px;
        box-shadow: 0px 5px 10px darken($grey, 30%);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        z-index: -1;
        background: linear-gradient(-10deg, lighten($primary-color, 5%), lighten($secondary-color, 5%));
        transition: opacity 400ms;
    }

}

.location {
    background-color: darken($grey, 4.8%);
    width: 100%;
    height: 50px;
    text-align: center;
    @include flex-center;
    box-shadow: inset 0 7px 9px -7px darken($grey, 30%);
}

.functionning {
    min-width: 300px;
    width: 90%;
    max-width: 335px;
    margin: 40px 0;

    &__card {
        @include flex-center;
        @include rounded-with-shadow;
        background: $grey;
        height: 72px;
        padding: 0 30px;
        margin: 20px 0;

        &__number {
            position: relative;
            right: 30px;
            @include icon-button;
            color: $inverted-police;
        }

        & i {
            min-width: 15%;
            font-size: 120%;
            color: darken($grey, 40%);
        }

        & h3 {
            font-size: $small-font;
            font-weight: $regular-weight;
            min-width: 85%;
        }

    }
}

main {
    background-color: $grey;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.restaurants {
    min-width: 300px;
    width: 90%;
    max-width: 335px;
    margin: 30px auto;

    &__card {
        @include rounded-with-shadow;
        margin: 20px 0;
        width: 100%;

        & img {
            border-radius: 25px 25px 0 0;
            width: 100%;
        }

        &__informations {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0 25px;
            height: 70px;

            & p {
                font-weight: $small-weight;
            }


        }
    }
}

.image {
    position: relative;
    text-align: center;

    &__float {
        position: absolute;
        width: 87px;
        height: 35px;
        border-radius: 3px;
        background-color: $tertiary-color;
        @include flex-center;
        top: 15px;
        right: 15px;
        color: darken($tertiary-color, 40%)
    }
}

.like {
    font-size: 150%;

    position: relative;
    z-index: 1;

    &:hover {
        & .like__fill {
            transform: scale(0.9);
        }
    }
}

.like__fill {
    display: inline;
    position: absolute;
    z-index: -1;
    background: linear-gradient(to bottom, $primary-color, $secondary-color);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    top: 0;
    bottom: 5px;
    right: 0;
    left: 0;
    transform: scale(0);
    transition: 2000ms;
    transform-origin: bottom;
}