@import 'Utils/variables';
@import 'Base/reset';
@import 'Utils/mixin';


body {
    max-width: 762px;
    margin: auto;
    flex-direction: column;
    font-family: $regular-font, sans-serif;
    @include flex-center
}

h1 {
    font-family: $logo-font, sans-serif;
    margin: 10px;
}

h2 {
    font-weight: $bold-weight;
    font-size: $large-font;
}

nav {
    padding: 25px;
    width: 100%;
    background-color: $grey;
    @include flex-center;
    flex-direction: column;
    text-align: center;
}

.button {
    @include rounded-with-shadow;
    background: linear-gradient(-10deg, $primary-color, $secondary-color);
    color: $inverted-police;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 20px;
    margin: 30px;
}

.location {
    background-color: darken($grey, 4.8%);
    width: 100%;
    height: 50px;
    text-align: center;
    @include flex-center;
    box-shadow: inset 0 7px 9px -7px darken($grey, 30%);
}

.functionning {
    @include flex-center;
    width: 90%;

    &__card {
        @include flex-center;
        @include rounded-with-shadow;
        background: $grey;
        height: 72px;
        padding: 0 30px;
        margin: 20px;

        &__number {
            position: relative;
            right: 30px;
            @include icon-button;
            color: $inverted-police;
        }

        & i {
            min-width: 15%;
            font-size: 120%;
            color: darken($grey, 40%);
        }

        & h3 {
            font-size: $small-font;
            font-weight: $regular-font;
            min-width: 85%;
        }

    }
}

.restaurants {
    &__card {
        @include rounded-with-shadow;
        margin: 20px;

        & img {
            border-radius: 25px 25px 0 0;
        }

        &__informations {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0 25px;
            height: 70px;

        }
    }
}

footer {
    width: $full-width;
    background-color: #353535;
    display: flex;
    flex-direction: column;
    color: $inverted-police;
    padding: 10px 0 30px 0;

    & p {
        padding: 20px;
        font-family: $logo-font, sans-serif;
    }

    & a {
        padding-left: 20px;
        line-height: $line-height;
        font-size: $small-font;

        & i {
            width: 11px;
            height: 13px;
        }
    }
}