.foot {
    width: 100%;
    background-color: #353535;
    display: flex;
    flex-direction: column;
    color: $inverted-police;
    padding: 10px 0 30px 0;
    box-shadow: 0 50vh 0 50vh #353535;

    @media (min-width:768px) {
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }

    &--display {
        display: flex;
        flex-direction: column;

        @media (min-width:768px) {

            flex-direction: row;
        }
    }

    &--small {
        font-weight: $small-weight;
    }

    & p {
        padding: 20px;
        font-family: $logo-font, sans-serif;

        @media (min-width:768px) {
            margin: 15px;
        }
    }

    & a {
        padding-left: 20px;
        margin: 4px 0;
        font-size: $small-font;

        @media (min-width:1024px) {
            margin-right: 15px;
        }

        & i {
            width: 11px;
            height: 13px;
            margin-right: 18px;
        }

    }
}



.loader {
    border: 10px solid $tertiary-color;
    border-top: 10px solid $primary-color;
    border-bottom: 10px solid $secondary-color;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    animation: spin 1.5s linear 0s forwards;
    z-index: -2;
}

@keyframes spin {
    0% {
        transform: rotate(0deg) scale(1);
        opacity: 1;
    }

    50% {
        transform: rotate(180deg);
    }

    99% {
        transform: scale(3);
        opacity: 1;
    }

    100% {
        transform: rotate(360deg), ;
        opacity: 0;
    }
}