body {
    max-width: 1024px;
    height: 100%;
    margin: auto;
    flex-direction: column;
    font-family: $regular-font, sans-serif;
    @include flex-center;

    @media (min-width:1024px) {
        max-width: 100%;
    }
}

header {
    background: white;
    text-align: center;
}

h1 {
    font-family: $logo-font, sans-serif;
    margin: 10px;

    @media (min-width:1024px) {
        font-size: 37px;
    }
}

h2 {
    font-weight: $bold-weight;
    font-size: $large-font;
}

main {
    background-color: $grey;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav,
footer,
header,
main {
    width: 100%;
}