body {
    max-width: 1024px;
    margin: auto;
    flex-direction: column;
    font-family: $regular-font, sans-serif;
    @include flex-center;
    background: #353535;

    @media (min-width:1024px) {
        max-width: 100%;
    }
}

header {
    width: 100%;
    background: white;
    text-align: center;
}

h2 {
    font-weight: $bold-weight;
    font-size: $large-font;
}

main {
    background-color: $grey;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: scroll;
}