* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

a,
link {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

button {
    font-family: inherit;
    font-style: inherit;
    font-size: inherit;
}