* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

a,
link {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

button {
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
}

footer {
  width: 100%;
}

.foot {
  width: 100%;
  background-color: #353535;
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  padding: 10px 0 30px 0;
  box-shadow: 0 50vh 0 50vh #353535;
}
@media (min-width: 768px) {
  .foot {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
}
.foot--display {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .foot--display {
    flex-direction: row;
  }
}
.foot--small {
  font-weight: 300;
}
.foot p {
  padding: 20px;
  font-family: "Shrikhand", sans-serif;
}
@media (min-width: 768px) {
  .foot p {
    margin: 15px;
  }
}
.foot a {
  padding-left: 20px;
  margin: 4px 0;
  font-size: 16px;
}
@media (min-width: 1024px) {
  .foot a {
    margin-right: 15px;
  }
}
.foot a i {
  width: 11px;
  height: 13px;
  margin-right: 18px;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  margin: 10px;
}
@media (min-width: 1024px) {
  h1 {
    font-size: 37px;
  }
}

.loader {
  border: 10px solid #99E2D0;
  border-top: 10px solid #9356DC;
  border-bottom: 10px solid #ff79da;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-animation: spin 1.5s linear 0s forwards;
          animation: spin 1.5s linear 0s forwards;
  z-index: -2;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }
  50% {
    transform: rotate(180deg);
  }
  99% {
    transform: scale(3);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }
  50% {
    transform: rotate(180deg);
  }
  99% {
    transform: scale(3);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
.button {
  border: 0px solid black;
  border-radius: 25px;
  box-shadow: 0px 5px 10px #dddddd;
  background: linear-gradient(-10deg, #9356DC, #ff79da);
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  min-width: 186px;
  padding: 0 20px;
  margin: 30px;
  position: relative;
  z-index: 1;
}
.button:hover .button__background {
  opacity: 1;
}
.button a {
  color: #FFFFFF;
}
.button__background {
  border-radius: 25px;
  box-shadow: 0px 5px 10px #aaaaaa;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  background: linear-gradient(-10deg, #a16be0, #ff93e1);
  transition: opacity 400ms;
}

nav {
  width: 100%;
}

.navigation {
  padding: 25px;
  width: 100%;
  background-color: #F6F6F6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
@media (min-width: 1024px) {
  .navigation h2 {
    font-size: 40px;
    margin: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .navigation h2 {
    font-size: 36px;
    margin: 20px;
  }
}
.navigation p {
  font-weight: 300;
}

.location {
  background-color: #eaeaea;
  width: 100%;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 7px 9px -7px #aaaaaa;
}

.functionning {
  min-width: 300px;
  width: 90%;
  max-width: 335px;
  margin: 40px 0;
}
@media (min-width: 768px) {
  .functionning {
    max-width: 1400px;
  }
}
@media (min-width: 768px) {
  .functionning--display {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.functionning__card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px solid black;
  border-radius: 25px;
  box-shadow: 0px 5px 10px #dddddd;
  background: #F6F6F6;
  height: 72px;
  padding: 0 30px;
  margin: 20px 10px;
  position: relative;
  z-index: 1;
}
@media (min-width: 1024px) {
  .functionning__card {
    width: 30%;
    max-width: 350px;
  }
}
.functionning__card:hover i {
  color: #9356DC;
}
.functionning__card:hover .functionning__card__background {
  opacity: 0.1;
}
.functionning__card__number {
  position: relative;
  right: 30px;
  border: 0px solid black;
  border-radius: 25px;
  padding: 4px 9px;
  background: #9356DC;
  color: #FFFFFF;
}
.functionning__card i {
  min-width: 15%;
  font-size: 120%;
  color: #909090;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .functionning__card i {
    margin-right: 10px;
    margin-left: -10px;
  }
}
.functionning__card h3 {
  font-size: 16px;
  font-weight: 500;
  min-width: 85%;
}
.functionning__card__background {
  border-radius: 25px;
  box-shadow: 0px 5px 10px #aaaaaa;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  background: #9356DC;
  transition: opacity 400ms;
}

.restaurants {
  min-width: 300px;
  width: 90%;
  margin: 30px auto;
}
@media (min-width: 768px) {
  .restaurants {
    max-width: 1400px;
  }
}
@media (min-width: 768px) {
  .restaurants--display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
.restaurants__card {
  border: 0px solid black;
  border-radius: 25px;
  box-shadow: 0px 5px 10px #dddddd;
  margin: 20px 0;
  width: 100%;
}
@media (min-width: 1024px) {
  .restaurants__card {
    width: 24%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .restaurants__card {
    width: 45%;
  }
}
.restaurants__card img {
  border-radius: 25px 25px 0 0;
  width: 100%;
}
.restaurants__card__informations {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  height: 70px;
}
.restaurants__card__informations p {
  font-weight: 300;
}

.image {
  position: relative;
  text-align: center;
}
.image__float {
  position: absolute;
  width: 87px;
  height: 35px;
  border-radius: 3px;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 15px;
  right: 15px;
  color: #278870;
}

.like {
  font-size: 150%;
  position: relative;
  z-index: 1;
}
.like:hover .like__fill {
  transform: scale(0.9);
}

.like__fill {
  display: inline;
  position: absolute;
  z-index: -1;
  background: linear-gradient(to bottom, #9356DC, #ff79da);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  top: 0;
  bottom: 5px;
  right: 0;
  left: 0;
  transform: scale(0);
  transition: 400ms;
  transform-origin: bottom;
}

body {
  max-width: 1024px;
  height: 100%;
  margin: auto;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1024px) {
  body {
    max-width: 100%;
  }
}

header {
  width: 100%;
  background: white;
  text-align: center;
}

h2 {
  font-weight: 700;
  font-size: 24px;
}

main {
  background-color: #F6F6F6;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page {
  width: 100%;
  -webkit-animation: loading 1.5s forwards;
          animation: loading 1.5s forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: white;
}

@-webkit-keyframes loading {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0.02;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loading {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0.02;
  }
  100% {
    opacity: 1;
  }
}
.header__restaurant {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
.header__restaurant h1 {
  width: 90%;
}

.plats {
  width: 100%;
  height: 275px;
}
@media (min-width: 1024px) {
  .plats {
    height: 420px;
  }
}
.plats__photo--palette {
  background-image: url("../../assets/images/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.plats__photo--francaise {
  background-image: url("../../assets/images/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.plats__photo--enchantee {
  background-image: url("../../assets/images/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.plats__photo--delice {
  background-image: url("../../assets/images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.restaurant__menu {
  background-color: #F6F6F6;
  border-radius: 25px 25px 0 0;
  padding-top: 30px;
  margin-top: -50px;
  width: 100%;
}
@media (min-width: 1024px) {
  .restaurant__menu {
    width: 60%;
    max-width: 1055px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.restaurant__menu__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .restaurant__menu__header {
    justify-content: center;
  }
}
.restaurant__menu__header h2 {
  font-family: "Shrikhand", sans-serif;
  font-size: 28px;
}
@media (min-width: 768px) {
  .restaurant__menu__header h2 {
    margin-right: 30px;
  }
}

.menu {
  width: 90%;
  margin: 15px auto;
  transform: scale(0);
  -webkit-animation: loadingbis 0.6s both ease-in-out;
          animation: loadingbis 0.6s both ease-in-out;
  transform-origin: top left;
}
@media (min-width: 768px) {
  .menu {
    max-width: 632px;
  }
}
.menu__title {
  position: relative;
}
.menu__title h3 {
  font-weight: 300;
}
.menu__title::after {
  content: "";
  position: absolute;
  width: 50px;
  bottom: -2px;
  left: 0;
  height: 4px;
  background: #99E2D0;
}
.menu__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  line-height: 24px;
  border: 0px solid black;
  border-radius: 25px;
  box-shadow: 0px 5px 10px #dddddd;
  border-radius: 15px;
  background-color: white;
  padding: 12px 11px;
  margin: 15px 0;
  width: 100%;
  height: 68px;
  -webkit-animation: loadingbis 0.6s both ease-out;
          animation: loadingbis 0.6s both ease-out;
  transform-origin: top right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 1024px) {
  .menu__item {
    max-width: 632px;
  }
}
.menu__item:hover > .menu__item--validated i {
  transform: translate(-50px);
  cursor: pointer;
}
.menu__item:hover > .menu__item--validated p {
  transform: translate(-50px);
  margin-left: 60px;
}
.menu__item__name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__item p {
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__item h4 {
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__item--validated {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.menu__item--validated p {
  font-weight: 500;
  margin-left: 10px;
  transition: all 0.5s;
}
.menu__item--validated i {
  background-color: #99E2D0;
  color: white;
  height: 100%;
  width: 50px;
  font-size: 125%;
  box-sizing: content-box;
  position: absolute;
  right: -50px;
  transform: translate(0px);
  border-radius: 0 15px 15px 0;
  align-items: center;
  display: flex;
  justify-content: center;
  bottom: 0;
  transition: all 0.5s;
}

.menu:nth-child(1) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.menu__item:nth-child(1) {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.menu:nth-child(2) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.menu__item:nth-child(2) {
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}

.menu:nth-child(3) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.menu__item:nth-child(3) {
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}

.menu:nth-child(4) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.menu__item:nth-child(4) {
  -webkit-animation-delay: 2.7s;
          animation-delay: 2.7s;
}

.menu:nth-child(5) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.menu__item:nth-child(5) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

@-webkit-keyframes loadingbis {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes loadingbis {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.order {
  margin: 10px auto 40px auto;
}/*# sourceMappingURL=style.css.map */