@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin rounded-with-shadow {
    border: 0px solid black;
    border-radius: 25px;
    box-shadow: 0px 5px 10px darken($grey, 10%);
}

@mixin icon-button {
    border: 0px solid black;
    border-radius: 25px;
    padding: 4px 9px;
    background: $primary-color;
}

@mixin background-photo {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@mixin ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}