$primary-color: #9356DC;
$secondary-color: #ff79da;
$tertiary-color: #99E2D0;
$inverted-police: #FFFFFF;
$grey: #F6F6F6;
$line-height: 19px;
$small-font: 16px;
$large-font: 24px;
$small-weight: 300;
$regular-weight: 500;
$bold-weight: 700;
$logo-font: 'Shrikhand';
$regular-font: 'Roboto';